%h1 All Articles
%ul#articles
  - @articles.each do |article|
    %li
      = link_to article.title, article_path(article), class: 'article_title'
- if logged_in?
  = link_to "Create New Article", new_article_path, class: "new_article"
